<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViceVersa</title>
</head>
<body>
    <h2>Vice Versa</h2>
       	<form action="{% url 'reverse' %}">
  			<textarea name="usertext" rows="10" cols="50" placeholder="Type the text"></textarea>
  			<br><br>
  			<input type="submit" value="Reverse!">
		</form>
</body>
</html>